body {
    min-height: 100vh;
}

.min-full-height {
    min-height: calc(100vh - 56px - 73px);
}

.dashboard-container {
    display: flex;
}

.dashboard-container .full-height {
    flex-grow:1;
}

.dashboard-nav-container-wrapper {
    padding: 0;
}
.dashboard-nav-container {
    border-right: 1px solid rgba(0,0,0,.125);
    /* background-color: cornsilk; */
    /* padding: 0 ; */
    padding: 2.5rem 0 0 0;
    height: 100%;
}

.dashboard-nav-container ul.nav.flex-column {
    position: sticky;
    top: 0;
}
.dashboard-nav-container .nav-item a.nav-link {
    padding: 1rem 1.5rem;
    /* border-bottom: 1px solid #eee; */
    color: #333;
    border-radius: 10px;
}

.dashboard-nav-container .nav-item {
    padding: 0.5rem 0.8rem;
}
.dashboard-nav-container .nav-item a.nav-link.active {
    background-color:#c6c6c6;
    /* color: white; */
    /* padding: 1rem 1.5rem; */
    /* border-left: 15px solid salmon;
    width: calc(100% + 15px); */
}

.dashboard-content-container-wrapper {
    padding: 3rem;
}

.dashboard-content-container-wrapper .row .card {
    width: 100%;
}

.dashboard-content-container-wrapper .row .card .botton_align_button {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem) !important;
}
.dashboard-content-container-wrapper .card-body {
    padding-bottom: 5rem;
}


