@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;800&display=swap');

body {
    min-height: 100vh;
}

.min-full-height {
    min-height: calc(100vh - 62px - 73px);
}

.full-height-header-footer {
    height: calc(100vh - 62px - 73px);
    position: relative;
}
nav.navbar {
    height: 62px;
}
.nav-link, .nav-link {
    color: #666666;
}
.nav-link:focus, .nav-link:hover {
    color: #222222;
}
a.header-logo {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    padding: 0 10px;
}
a.header-logo img {
    width: 3rem;
    margin: -2px 10px 0 0;
}


.cover_column {
    width: 20%;
    position:relative;
}

.cover_column::before {
    content: "";
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .3s;
    width: 100%;
}

.cover_column:hover::before {
    background-color: rgba(0,0,0,.3);
}

.cover_column_text {
    opacity: 0;
    color: white;
    width: 80%;
    padding: 30px 20px 20px;
    background: #00000040;
    z-index: 999;
    position: relative;
    margin-top: 30px;
    transition: all .3s;

}

.cover_column:hover > .cover_column_text {
    opacity: 1;
}

.cover_column_full_text_overlay {
    position: absolute;
    width: 100%;
    bottom: 200px;


}

.dish-collage-bg {
    background-image: url('/img/dishes_collage.png'); 
    background-size: cover;
    position:relative;
}

.dish-collage-bg::before {
    content: "";
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.dashboard-container {
    display: flex;
}

.dashboard-container .full-height {
    flex-grow:1;
}

.dashboard-nav-container-wrapper {
    padding: 0;
}
.dashboard-nav-container {
    border-right: 1px solid rgba(0,0,0,.125);
    /* background-color: cornsilk; */
    /* padding: 0 ; */
    padding: 2.5rem 0 0 0;
    height: 100%;
}

.dashboard-nav-container ul.nav.flex-column {
    position: sticky;
    top: 0;
}
.dashboard-nav-container .nav-item a.nav-link {
    padding: 1rem 1.5rem;
    color: #333;
    border-radius: 10px;
}

.dashboard-nav-container .nav-item a.nav-link:hover {
    background-color: #eee;
} 

.dashboard-nav-container .nav-item {
    padding: 0.5rem 0.8rem;
}
.dashboard-nav-container .nav-item a.nav-link.active {
    background-color:#c6c6c6;
}

.dashboard-content-container-wrapper {
    padding: 3rem;
}
.dashboard-content-container-wrapper:not(.recipe, .shopping-list) {

    background-image: url("/img/dish_5.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: bottom -100px;
    background-position-x: left -100px;
}



.dashboard-content-container-wrapper .row .card {
    width: 100%;
}

.dashboard-content-container-wrapper .row .card .botton_align_button {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem) !important;
}
.dashboard-content-container-wrapper .card-body {
    padding-bottom: 5rem;
}

.dashboard-content-container-wrapper .card-title.recipe-title {
    width: 80%;
}

.dashboard-content-container-wrapper .card-title.recipe-title a {
    text-decoration: none;
    color: #666;
}
.dashboard-content-container-wrapper .card-title.recipe-title a:hover {
    color: #333;
    
}

.dashboard-content-container-wrapper .menu-column {
    max-width: 14.25%;
}

.meal-plan-main_wrapper {
    margin-bottom: 30px;
}

.meal-plan-main_wrapper .date {
    margin: 10px 0; 
    height: 70px
}

.meal-plan-main_wrapper .column-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meal-plan-main_wrapper .column-wrapper .menu-item-div
 {
    height: 49%;
}

.menu-item {
    border-radius: 10px;
    position:relative;
}


.menu-item.empty.lunch {
    /* border: 5px dashed antiquewhite;
    background:none; */
    background-color: #fff8ee;
}

.menu-item.empty.dinner {
    /* border: 5px dashed beige;
    background:none; */
    background-color: #fff8ee;
}

.menu-item.empty {
    border: 5px dashed #ffbdb5;
    /* background-color: #fff8ee; */
}

.menu-item.lunch {
    /* background-color: antiquewhite; */
    background-color:#faebd785;
}

.menu-item.dinner {
    /* background-color: beige; */
    background-color: antiquewhite;

}

.recipe-button {
    color: white;
    background-color: #89959f;
}

.recipe-button.selected {
    color: white;
    background-color: green;
}
.recipe-button.active {
    color: white;
    background-color: orange;
}

.recipe-button:not(.active, .selected):hover {
    background-color: #6c757d;
    color: white;
}

.meal-date {
    margin-bottom: 0;
    color:#666666;
}
.meal-day {
    font-size: 0.8rem;
    color:#555555;
}
.meal-type-tag {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: -1rem;
    font-size: 2.2rem;
    left: -0.2rem;
  
}

.meal-item-wrapper {
    margin-top: 3rem;
    color: #555555;
}

.meal-item-wrapper a.recipe-link {
    color: #888888;
    text-decoration: none;
}

.meal-item-wrapper a.recipe-link:hover {
    color: #333333;
}

.sideBar-container-wrapper {
    border-left: 1px solid rgba(0,0,0,.125);
    padding: 2.5rem 10px 10px;
}

.sideBar-container {
    position: sticky;
    top: 0; 
    /* padding: 10px; */
}

.vertical-letters {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding:0;
    margin:0;
    letter-spacing: -6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
}

.sideBar-container .sideBar-menu-item-wrapper {
    height: 46%
}

.sideBar-container .sideBar-menu-item {
    border-radius:10px; 
    height: 100%; 
    margin-left: 10px;
    padding: 10px 15px;
    position: relative;
    cursor:pointer;
}

.sideBar-container .sideBar-menu-item.lunch {
    background-color:#faebd785;
}

.sideBar-container .sideBar-menu-item.dinner {
    background-color: antiquewhite;
}


.sideBar-container .sideBar-menu-item.empty {
    border: 3px dashed #ffbdb5;
    background-color: #fff8ee;

}

.sideBar-container .date-wrapper {
    background-color: #eeeeee;
    border-radius: 50px;
    padding: 15px 5px 8px;
}

.sideBar-container .date-box {
    height: 40px;
}

.date-box h6 {
    font-size: 0.8rem
}

.date-wrapper h4 {
    font-weight: 900;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
}

.recipe-wrapper {
    position:sticky;
    top:0;
}

.sideBar-menu-item-label {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #00000030;
    display: none;
    font-size:0.9rem;
}

.sideBar-menu-item:hover > .sideBar-menu-item-label {
    display: block;
}

.ingredient-category {
    margin: 20px 0 10px;
}

.ingredient-line {
    padding: 5px;
}

.ingredient-line.even {
    background: #eeeeee;
}


