body {
    min-height: 100vh;
}

.min-full-height {
    min-height: calc(100vh - 56px - 73px);
}

.dashboard-container {
    display: flex;
}

.dashboard-container .full-height {
    flex-grow:1;
}

.dashboard-nav-container-wrapper {
    padding: 0;
}
.dashboard-nav-container {
    border-right: 1px solid rgba(0,0,0,.125);
    /* background-color: cornsilk; */
    /* padding: 0 ; */
    padding: 2.5rem 0 0 0;
    height: 100%;
}

.dashboard-nav-container ul.nav.flex-column {
    position: sticky;
    top: 0;
}
.dashboard-nav-container .nav-item a.nav-link {
    padding: 1rem 1.5rem;
    /* border-bottom: 1px solid #eee; */
    color: #333;
    border-radius: 10px;
}

.dashboard-nav-container .nav-item {
    padding: 0.5rem 0.8rem;
}
.dashboard-nav-container .nav-item a.nav-link.active {
    background-color:#c6c6c6;
    /* color: white; */
    /* padding: 1rem 1.5rem; */
    /* border-left: 15px solid salmon;
    width: calc(100% + 15px); */
}

.dashboard-content-container-wrapper {
    padding: 3rem;
}

.dashboard-content-container-wrapper .row .card {
    width: 100%;
}

.dashboard-content-container-wrapper .row .card .botton_align_button {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem) !important;
}
.dashboard-content-container-wrapper .card-body {
    padding-bottom: 5rem;
}

.dashboard-content-container-wrapper .menu-column {
    max-width: 14.25%;
}

.meal-plan-main_wrapper {
    margin-bottom: 30px;
}

.meal-plan-main_wrapper .date {
    margin: 10px 0; 
    height: 70px
}

.meal-plan-main_wrapper .column-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meal-plan-main_wrapper .column-wrapper .menu-item-div
 {
    height: 49%;
}

.menu-item {
    border-radius: 10px;
    position:relative;
}


.menu-item.empty.lunch {
    border: 5px dashed antiquewhite;
    background:none;
}

.menu-item.empty.dinner {
    border: 5px dashed beige;
    background:none;
}

.menu-item.lunch {
    background-color: antiquewhite;
}

.menu-item.dinner {
    background-color: beige;
}

.recipe-button {
    color: white;
    background-color: #89959f;
}

.recipe-button.selected {
    color: white;
    background-color: green;
}
.recipe-button.active {
    color: white;
    background-color: orange;
}

.recipe-button:not(.active, .selected):hover {
    background-color: #6c757d;
    color: white;
}

.meal-date {
    margin-bottom: 0;
    color:#666666;
}
.meal-day {
    font-size: 0.8rem;
    color:#555555;
}
.meal-type-tag {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: -1rem;
    font-size: 2.2rem;
    left: -0.2rem;
  
}

.meal-item-wrapper {
    margin-top: 3rem;
    color: #555555;
}

.sideBar-container-wrapper {
    border-left: 1px solid rgba(0,0,0,.125);
    padding: 2.5rem 10px 10px;
}

.sideBar-container {
    position: sticky;
    top: 0; 
    /* padding: 10px; */
}

.vertical-letters {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding:0;
    margin:0;
    letter-spacing: -6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
}

.sideBar-container .sideBar-menu-item-wrapper {
    height: 46%
}

.sideBar-container .sideBar-menu-item {
    border-radius:10px; 
    height: 100%; 
    margin-left: 10px;
    padding: 10px 15px;
    position: relative;
    cursor:pointer;
}

.sideBar-container .sideBar-menu-item.lunch {
    background-color:#faebd785;
}

.sideBar-container .sideBar-menu-item.dinner {
    background-color: antiquewhite;
}


.sideBar-container .sideBar-menu-item.empty {
    border: 3px dashed #ffbdb5;
    background-color: #fff8ee;

}

.sideBar-container .date-wrapper {
    background-color: #eeeeee;
    border-radius: 50px;
    padding: 15px 5px 8px;
}

.sideBar-container .date-box {
    height: 40px;
}

.date-box h6 {
    font-size: 0.8rem
}

.date-wrapper h4 {
    font-weight: 900;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
}

.recipe-wrapper {
    position:sticky;
    top:0;
}

.sideBar-menu-item-label {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #00000030;
    display: none;
    font-size:0.9rem;
}

.sideBar-menu-item:hover > .sideBar-menu-item-label {
    display: block;
}
