<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Quick Meal Planner</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav th:replace="~{fragments/general :: header}" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">TEST Quick Meal Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li th:if="${user != null}" class="nav-item">
                    <a th:text="${user.firstName}" class="nav-link" th:href="@{/user}" />
                </li>
                <li th:if="${user == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li th:if="${user == null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                  </li>
                <li th:if="${user != null}" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex full-height-header-footer">
  
        <div class="cover_column" style='background-image:url("/img/dish_1_s.png")'>
            <div class="cover_column_text">
                <h2>Delicious</h2>
                <p>Mouth watering recipes right at your finger tip</p>
            </div>
            
        </div>
        <div class="cover_column" style='background-image:url("/img/dish_2_s.png")'>
            <div class="cover_column_text">
                <h2>Easy</h2>
                <p>Discover super easy recipes in no time</p>
            </div>
            
        </div>
        <div class="cover_column" style='background-image:url("/img/dish_3_s.png")'>
            <div class="cover_column_text">
                <h2>Organized</h2>
                <p>Creating weekly meal plan and generate a personalized shopping list</p>
            </div>
            
        </div>
        <div class="cover_column" style='background-image:url("/img/dish_4_s.png")'>
            <div class="cover_column_text">
               <h2>Quick</h2> 
               <p>Easy and quick recipes that takes no more than 30 minutes to create</p>
            </div>
            
            
        </div>
        <div class="cover_column" style='background-image:url("/img/dish_5_s.png")'>
            <div class="cover_column_text">
                <h2>Personalized</h2>
                <p>Discover quick recipes based on your dietary preference or the ingredients you have in your fridge</p>
            </div>
        </div>
        <div class="cover_column_full_text_overlay d-flex align-items-center justify-content-center">
            <h1 class="text-center" style="color: white;text-shadow: 0 0 10px black;"> 
                Find Quick Meal Ideas in No Time with the help of ChatGPT 
            </h1>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/general :: footer}" >
    <p>Testing Footer</p>
</footer>
</body>
</html>