<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Quick Meal Planner</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav
      th:replace="~{fragments/general :: header}"
      class="navbar navbar-expand-lg navbar-dark bg-dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Quick Meal Planner</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li th:if="${user != null}" class="nav-item">
              <a
                th:text="${user.firstName}"
                class="nav-link active"
                th:href="@{/user}"
              />
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/logout}"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid min-full-height dashboard-container">
      <div class="row full-height">
        <div
          th:if="${!savedByUser}"
          class="col-md-3 col-lg-2 dashboard-nav-container-wrapper"
        >
          <div
            th:replace="~{fragments/general :: dash-nav(activeTab='otherRecipes')}"
          >
            <p>Testing Side Nav</p>
          </div>
        </div>
        <div
          th:if="${savedByUser}"
          class="col-md-3 col-lg-2 dashboard-nav-container-wrapper"
        >
          <div
            th:replace="~{fragments/general :: dash-nav(activeTab='recipes')}"
          >
            <p>Testing Side Nav</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-7 dashboard-content-container-wrapper recipe">
          <div class="recipe-wrapper">
            <a
                th:if="${savedByUser}"
                th:href="@{/user/recipes}"
                type="button"
                class="btn btn-primary btn-sm mt-4 mb-4 mr-4"
              >
                Back to saved recipes
              </a>
              <a
                th:if="${!savedByUser}"
                th:href="@{/user/recipes/otherRecipes}"
                type="button"
                class="btn btn-primary btn-sm mt-4 mb-4 mr-4"
              >
                Back to recently saved recipes by other users
              </a>

              <h1 
                th:text="${recipe.name}" 
                th:attr="data-activerecipeid=*{recipe.id}" 
                id="recipe" 
                class="text-center" 
              />
              <hr />
              <div>
                <h4 style="margin: 40px 0 15px 0;">Ingredients:</h4>
                <div th:each="ingredient: ${recipe.ingredients}">
                  <p th:text="${ingredient}" />
                </div>
                <h4 style="margin: 40px 0 15px 0;">Directions:</h4>
                <div th:each="direction: ${recipe.directions}">
                  <p th:text="${direction}" />
                </div>

                <p>
                  Saved by <span th:text="${#lists.size(recipe.users)}" /> users
                </p>
                <a
                  th:if="${savedByUser}"
                  th:href="@{/user/recipes/removeRecipeFromList(recipeId=${recipe.id})}"
                  type="button"
                  class="btn btn-warning btn-sm"
                >
                  Unsave
                </a>
                <a
                  th:if="${!savedByUser}"
                  th:href="@{/user/recipes/addRecipeToList(recipeId=${recipe.id})}"
                  type="button"
                  class="btn btn-warning btn-sm"
                >
                  save
                </a>
              </div>

          </div>
          
        </div>
        <div class="col-md-3 sideBar-container-wrapper">
          <div
            th:with="map=${mealPlan.mealPlanItemsMap}"
            class="sideBar-container"
            id="mealplan"
            th:attr="data-startdate=${mealPlan.startDate}" 

          >
            <h2 class="text-center m-0">Meal Plan</h2>
            <div
              class="d-flex mb-2"
              th:classappend="${mealPlan.startDate == prevStartDate ? 'justify-content-end' : 'justify-content-between'}"
            >
              <a
                th:if="${mealPlan.startDate != prevStartDate}"
                th:href="@{/user/recipes/recipe?(recipeId=${recipe.id},startDate=${prevStartDate},mealPlan=${mealPlan.prev?.id})}"
                type="button"
                class="btn btn-secondary btn-sm"
              >
                Prev
              </a>
              <a
                th:href="@{/user/recipes/recipe?(recipeId=${recipe.id},startDate=${nextStartDate},mealPlan=${mealPlan.next?.id})}"
                type="button"
                class="btn btn-secondary btn-sm"
              >
                Next
              </a>
            </div>
            <div
              th:each="weekday, iter: ${weeklyDates}"
              class="d-flex"
              style="
                height: 120px;
                border-top: 1px solid #f8f8f8;
                padding: 10px 0;
              "
            >
              <div class="d-flex flex-column justify-content-between date-wrapper ">
                <div class="date-box">
                  <h6
                    th:text="${weekday[0]}"
                    class="p-0 m-0 d-flex justify-content-center align-items-center"
                  />
                  <h6
                    th:text="${weekday[1]}"
                    class="p-0 m-0 d-flex justify-content-center align-items-center"
                  />
                </div>
                <h4
                  th:text="${#strings.substring(weekday[2], 0, 1)}"
                  class="m-0 d-flex justify-content-center p-1"
                />
              </div>
              <div
                class="h-100 d-flex flex-column justify-content-between w-100 pl-3"
              >
                <!-- first row lunch -->
                <div
                  th:with="mealType=${mealTypes[__${iter.index + iter.index}__]}"
                  class="sideBar-menu-item-wrapper"
                >
                  <!-- if mealtype exist, display mealplanitem -->
                  <div
                    th:if="${#maps.containsKey(map, mealType)}"
                    class="h-100"
                  >
                    <div
                      th:object="${map.get(mealType)}"
                      th:attr="
                        data-mealplanitemid=*{id},
                        data-recipeid=*{recipe?.id},
                        data-mealplanid=${mealPlan.id},
                        data-mealtype=*{mealType}"
                      class="sideBar-menu-item lunch"
                      th:classappend="*{recipe} ? '' : empty"
                    >
                      <p th:text="*{recipe?.name} " />
                      <div class="sideBar-menu-item-label">Change</div>
                    </div>
                  </div>

                  <!-- else display empty block -->
                  <div
                    th:unless="${#maps.containsKey(map, mealType)}"
                    class="h-100"                  
                    >
                    <div
                      th:attr="
                        data-mealplanitemid=null,
                        data-recipeid=null,
                        data-mealplanid=${mealPlan.id},
                        data-mealtype=${mealType}"
                      class="sideBar-menu-item empty"
                    >
                    <div class="sideBar-menu-item-label">Add</div>
                  </div>
                  </div>
                </div>
                <!-- <div class="sideBar-menu-item empty"></div> -->

                <!-- second row dinner -->
                <div
                  th:with="mealType=${mealTypes[__${iter.index + iter.index + 1}__]}"
                  class="sideBar-menu-item-wrapper"
                >
                  <!-- if mealtype exist, display mealplanitem -->
                  <div
                    th:if="${#maps.containsKey(map, mealType)}"
                    class="h-100"                  
                    >
                    <div
                      th:object="${map.get(mealType)}"
                      th:attr="
                      data-mealplanitemid=*{id},
                      data-recipeid=*{recipe?.id},
                      data-mealplanid=${mealPlan.id},
                      data-mealtype=*{mealType}"
                      class="sideBar-menu-item dinner"
                      th:classappend="*{recipe} ? '' : empty"
                    >
                      <p th:text="*{recipe?.name} " />
                      <div class="sideBar-menu-item-label">Change</div>
                    </div>
                  </div>

                  <!-- else display empty block -->
                  <div
                    th:unless="${#maps.containsKey(map, mealType)}"
                    class="h-100"
                  >
                    <div
                      th:attr="
                      data-mealplanitemid=null,
                      data-recipeid=null,
                      data-mealplanid=${mealPlan.id},
                      data-mealtype=${mealType}"
                      class="sideBar-menu-item empty"
                    >
                    <div class="sideBar-menu-item-label">Add</div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{fragments/general :: footer}">
      <p>Testing Footer</p>
    </footer>
    <script src="/js/meal-plan-sidebar-handler.js" type="application/javascript"></script>

  </body>
</html>
