<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Quick Meal Planner</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav
      th:replace="~{fragments/general :: header}"
      class="navbar navbar-expand-lg navbar-dark bg-dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Quick Meal Planner</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li th:if="${user != null}" class="nav-item">
              <a
                th:text="${user.firstName}"
                class="nav-link active"
                th:href="@{/user}"
              />
            </li>
            <li th:if="${user != null}" class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/logout}"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid min-full-height dashboard-container">
      <div class="row full-height">
        <div class="col-md-3 col-lg-2 dashboard-nav-container-wrapper">
          <div
            th:replace="~{fragments/general :: dash-nav(activeTab='mealPlan')}"
          >
            <p>Testing Side Nav</p>
          </div>
        </div>

        <div class="col-md-9 col-lg-10 dashboard-content-container-wrapper">
          <div class="row">
            <div th:if="${allIngredients != null}">
              <p
                th:each="ingredient : ${allIngredients}"
                th:text="${ingredient}"
              />
            </div>
            <div th:unless="${allIngredients != null}">
              <p>
                You do not have any ingredients to generate a shopping list. Try
                generating a new shopping list from
                <a th:href="@{/user/mealplans}"> meal plan </a>
              </p>
            </div>

            <h1>Ingredient Tagging Table</h1>

            <table>
              <tr style="background-color: #666666; color: white">
                <th>Amount</th>
                <th>Measure</th>
                <th>Name</th>
                <th>DB Names</th>
                <th>Category</th>
                <th>Note</th>
              </tr>
              <tr
                th:each="ingredient, iter : ${ingredientDtos}"
                th:style="${iter.index % 2 == 0 ? 'background-color: #eee' : 'background-color: none'}"
              >
                <td th:text="${ingredient.amount}" />
                <td th:text="${ingredient.measure}" />
                <td th:text="${ingredient.name}" />
                <td th:text="${ingredient.dbName}" />
                <td th:text="${ingredient.category}" />
                <td th:text="${ingredient.note}" />
              </tr>
            </table>

            <h1 style="background-color: #999; color: white">Shopping List</h1>
            <div th:each="category : ${shoppingList}">
              <h3 th:text="${category.key}" />
              <div
                th:each="ingredient : ${category.value}"
                th:if="${ingredient.key != 'Salt' && ingredient.key != 'Black pepper'}"
              >
                <p
                  th:text="${ingredient.key}"
                  style="background-color: #999; color: white"
                />
                <div th:each="measure : ${ingredient.value}" class="row">
                  <div class="col col-lg-2" th:text="${measure.amount}" />
                  <div class="col col-lg-3" th:text="${measure.measure}" />
                  <div class="col col-lg-7">
                    <p th:each="note : ${measure.notes}" th:text="${note}" />
                  </div>
                </div>
              </div>
            </div>

            <h1 style="background-color: #999; color: white">Shopping List</h1>
            <div th:each="category : ${shoppingList}">
              <h3 th:text="${category.key}" />
              <div
                th:each="ingredient : ${category.value}"
                th:if="${ingredient.key != 'Salt' && ingredient.key != 'Black pepper'}"
                class="row"
              >
                <div
                  th:text="${ingredient.key}"
                  class="col col-lg-3 row"
                />
                <div class="row flex-column col col-lg-9">
                  <div th:each="measure : ${ingredient.value}" class="row col col-lg-12">
                    <div class="col col-lg-2" th:text="${measure.amount}" />
                    <div class="col col-lg-3" th:text="${measure.measure}" />
                    <div class="col col-lg-7">
                      <p th:each="note : ${measure.notes}" th:text="${note}" style="padding: none; margin: 0; font-size: 0.8rem;"/>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/general :: footer}">
      <p>Testing Footer</p>
    </footer>
  </body>
</html>
